.video-bg {
  position: relative;
  z-index: -1;
  top: 0%;
}

.section {
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 72px;
  color: white;
}

@media (min-aspect-ratio: 16/9) {
  .video-bg {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: auto;
    height: 100%;
  }
}