.title {
    position: fixed;
    top: 40%;
    left: 10%;
    font-family: Verdana;

    &-primary {
        color: #D7FEEC;
        font-size: 72px;
        margin-bottom: 20px;
    }

    &-secondary {
        color: white;
        font-size: 24px
    }
}