.site-progress {
    list-style: none;
    top: 43%;
    text-align: -webkit-right;
    z-index: -1;
    left: 98%;
    padding: 0;
    position: sticky;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #4E7563;
    border-radius: 8px;
    margin-bottom: 10px;
}

.bar-top {
    width: 45px;
    height: 3px;
    background-color: #4E7563;
    border-radius: 8px;
    margin-bottom: 10px;
}

.on-page {
    background-color: #D7FEEC;
}